:root {
    --brand-color: #4D5AE5;
    /* Iris */
    --title-text-color: #2E2F42;
    /* Navy blue */
    --pressed-state-color: #404BBF;
    /* OCEAN */
    --text-color: #434455;
    /*SLATE*/
    --white-color: #FFFFFF;
    --light-backgrounds-color: #F4F4FD;
    /* CLOUD*/
    --accent-color: #E7E9FC;
    /* cornflower */
    --helper-text-color: #8E8F99;
    /*LIGHT SLATE*/
    --success-color: #31D0AA;
    /*GREEN*/
    --color-background-primary: #FFFFFF;
    --modal-backgrounds-color: #FCFCFC;



    --time-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    /*========== Font and typography ==========*/
    --body-font: Roboto, sans-serif;
    --h1-font-size: 56px;
    --h2-font-size: 36px;
    --h3-font-size: 20px;
    --body-font-size: 16px;
    --small-font-size: 12px;

    /*========== Font weight ==========*/
    --font-regular: 400;
    --font-medium: 500;
    --font-bold: 700;


}
@media screen and (min-width: 1158px){
    .container-desktop{
        max-width: 1158px;
    }
}


@media screen and (min-width: 1200px) {
    .auth-nav .link{
        display: block;
        font-weight: var(--font-regular);
        font-size: var(--body-font-size);
        line-height: 1.5;
        letter-spacing: 0.02em;
    } 

    .auth-nav{
        margin-top: 24px;
        margin-bottom: 24px;
    }
    .header-contacts{
        align-items: center;
    }
    .section-specifics-list p{
        font-weight: var(--font-regular);
    }
    .specifics-list{
        max-width: 264px ;
    }

    .section-features{
        display: block;
    }
}



@media screen and (min-width: 1200px){

    .hero {
    max-width: 1440px;
    height: 600px;
    padding: 188px 0;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    }


    .hero-title {
    max-width: 585px;
    margin-bottom: 48px;

    }
    .modal {
    height: 584px;
    }

    .section-specifics-list{
        flex-wrap: nowrap;
        gap: 24px;
    }
    .specifics-top {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--light-backgrounds-color);
        margin-bottom: 8px;
        border-radius: 4px;
        height: 112px;
    }
        .specifics-icon {
            width: 64px;
            height: 64px;
        }
        .specifics-list .title{
            font-weight: var(--font-medium);
            font-size: var(--h3-font-size);
            line-height: 1.2;
        }
        
        .team-card:not(:last-child) {
            
        }
        .costomers-icons-item:not(:last-child) {
            
        }
        .section-title{
           font-weight: var(--font-bold);
            font-size: 36px;
            line-height: 1.11;
            letter-spacing: 0.02em;

        }
        .footer-cont {
            flex-wrap: nowrap;
        }
    .footer-item{
        margin-right: 120px;
    }
    .footer-social{
        margin-right: 80px;
    }
    .footer-form{
        flex-wrap: nowrap;
    }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
screen and (min-width: 768px) and (-moz-min-device-pixel-ratio: 2),
screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2),
screen and (min-width: 768px) and (min-resolution: 192dpi),
screen and (min-width: 768px) and (min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/middle/m-people-office.jpg);
    }
}
